<%- include('layouts/header'); %>
<%- include('layouts/navbar'); %>

<div class="container col-md-5 bg-light" style="margin-top: 100px;padding: 10px;border-radius: 10px;">
    <h1 class="text-center">Welcome to the seller home page<a href="/" Login or SignUp</h1>
   
     
 </div>
 

<%- include('layouts/footer'); %>




















