<%- include('partials/header'); %>
<link rel="stylesheet" href="assets/css/app.css">
<%- include('partials/navbar'); %>

<div>
    <div id="landing-header">
        <h1>Welcome to Flick!</h1>
     <a href="/flick" class="btn btn-lg btn-success">Buy Some Products</a>
   </div>
</div>
   
   <ul class="slideshow">
     <li></li>
     <li></li>
     <li></li>
     <li></li>
     <li></li>
   </ul>

<%- include('partials/footer'); %>