<html>
    <head>
        <title></title>
        <link rel="stylesheet" type="text/css" href="/assets/css/login.css">
    </head>
    <body>
        <div class="container">
            <h1>Login</h1>
            <form action="/login" method="POST">
                <p><input type="text" name="username" placeholder="Username"></p>
                <p><input type="password" name="password" placeholder="Password"></p>
                <p><input type="submit" value="Login" class="submit"></p>
            </form>
            <p class="notice">By continuing, you agree to Flick's terms of use and <a href="#">Privacy Notice</a></p>
            <p><a href="#">Forgot Password</a></p>
         </div>
         <div class="second">
            <p>New to Flick?</p>
            <a href="/register"><button>Create your Flick account</button></a>
         </div>
    </body>
</html>






















